<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName">

	<bean id="areaWebService" class="com.rfid.device.server.impl.AreaServerImpl" />
	<bean id="deviceManagerWebService" class="com.rfid.device.server.impl.DeviceManagerServerImpl" />
	<bean id="deviceWebService" class="com.rfid.device.server.impl.DeviceServerImpl" />
	<bean id="monitorWebService" class="com.rfid.device.server.impl.MonitorServerImpl" />
	<bean id="readerWebService" class="com.rfid.device.server.impl.ReaderServerImpl" />
	<bean id="statusWebService" class="com.rfid.device.server.impl.StatusServerImpl" />
	
	
	<!-- Junit测试时需要注释下面代码-->
	<bean name="areaService" parent="baseService">
		<property name="serviceBean" ref="areaWebService" />
		<property name="serviceClass" value="com.rfid.device.server.AreaServer" />
	</bean> 
	<bean name="deviceManagerService" parent="baseService">
		<property name="serviceBean" ref="deviceManagerWebService" />
		<property name="serviceClass" value="com.rfid.device.server.DeviceManagerServer" />
	</bean> 
	<bean name="deviceService" parent="baseService">
		<property name="serviceBean" ref="deviceWebService" />
		<property name="serviceClass" value="com.rfid.device.server.DeviceServer" />
	</bean> 
	<bean name="monitorService" parent="baseService">
		<property name="serviceBean" ref="monitorWebService" />
		<property name="serviceClass" value="com.rfid.device.server.MonitorServer" />
	</bean> 
	<bean name="readerService" parent="baseService">
		<property name="serviceBean" ref="readerWebService" />
		<property name="serviceClass" value="com.rfid.device.server.ReaderServer" />
	</bean> 
	<bean name="statusService" parent="baseService">
		<property name="serviceBean" ref="statusWebService" />
		<property name="serviceClass" value="com.rfid.device.server.StatusServer" />
	</bean> 
</beans>