<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName">

	<!-- webService -->
	<import resource="applicationContext-webservice.xml" />
	<!-- webService user -->
	<import resource="applicationContext-user-webservice.xml" />
	<import resource="applicationContext-device-webservice.xml" />
	<import resource="applicationContext-monitorServer-webservice.xml" />

	<!-- db resource sessionFactory -->
	<import resource="applicationContext-dao.xml" />
	<import resource="applicationContext-server.xml" />

	<!-- db user.dao -->
	<import resource="applicationContext-user-dao.xml" />
	<!-- db device.dao -->
	<import resource="applicationContext-device-dao.xml" />

	<!-- server user -->
	<import resource="applicationContext-user-server.xml" />
	<import resource="applicationContext-device-server.xml" />
	<import resource="applicationContext-monitorServer-server.xml" />
</beans>